snippet bye "My mail signature"
Good bye, Sir. Hope to talk to you soon.
endsnippet

snippet t "html tag" b
<$1>
	
</${1/(\w+).*/$1/}>
endsnippet

snippet html "start html5 file" b
<!-- uhu -->
<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" http-equiv="Content-Script-Type" content="text/javascript"/>
  <title> empty </title>
  <script type="text/javascript">
    function myAlert(){
		alert('hallo');
	}
  </script>
</head>

<body>



</body>
</html>
endsnippet
